language: php

php:
    - 7.1
    - 7.2

install:
    - composer install
    - mkdir -p build/logs

script:
    - composer run test:cs
    - composer run test:unit -- --coverage-clover build/logs/clover.xml

after_success:
    - composer require --dev satooshi/php-coveralls:1.*
    - vendor/bin/coveralls -v --coverage_clover=build/logs/clover.xml
